* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 92px 1121px 1168px 417px;
  grid-template-areas: "header"
                      "main"
                      "aside"
                      "footer";
}

.reservationContainer {
  overflow: scroll;
  scrollbar-gutter: stable;
  display: grid;
  height: 100dvh;
  grid-template-columns: 1fr;
  grid-template-rows: 92px auto;
  grid-template-areas: "header"
                      "main";
}

.blurred {
  opacity: 0.60;
  pointer-events: none;
}

button {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s;
}
button:hover{
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.20);
}