* {
  margin: 0;
  padding: 0;
}

#root {
  /* min-width: 900px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 92px 1121px 1168px 417px;
  grid-template-areas: "header"
                      "main"
                      "aside"
                      "footer";
}

.blurred {
  opacity: 0.60;
}
