#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 123px 1121px 1168px 417px;
  grid-template-areas: "header"
                       "main"
                       "aside"
                       "footer";
}