.main {
    background-color: #495E57;
    display: grid;
}

@media (max-width: 899px) {
    .main {
       grid-template-rows: auto 1fr;
    }
}
@media (min-width: 900px) {
    .main {
       grid-template-rows: auto 1fr;
       grid-template-columns: 1fr 860px 1fr;
    }
    .main h1 {
        grid-column: 2 / span 1;
    }
    .reservationForm {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
}

.reservationForm {
    display: flex;
    width: 260px;
    flex-direction: column;
    justify-self: center;
    row-gap: 5px;
    font-family: Karla;
    color: white;
}

.main h1 {
    font-size: 58px;
    font-family: Markazi Text;
    color: #F4CE14;
    font-weight: normal;
    margin: 20px 20px;
}

.errors {
    color: red;
    font-weight: bold;
}

.main button {
    background-color: #F4CE14;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    border: 0;
    width: 190px;
    height: 30px;
    align-self: center;
}

button.disabled {
    background-color: grey;
}
button.disabled:hover {
    pointer-events: none;
}

.main button:hover {
    cursor: pointer;
}
.cancelPolicy {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
}
.cancel {
    grid-column: 2;
    grid-row: 1;
    width: 15px;
    justify-self: flex-end;
}

.reservationForm input, .reservationForm select {
    height: 25px;
    border-radius: 16px;
    border: 0;
    padding: 0 7px;
}

.dateTime {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 5px;
    row-gap: 2px;
    column-gap: 5px;
}
.dayLabel {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    /* padding: 0 0 5px; */
    margin: -5px 0 5px 0;

}
.timeLabel {
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-end;
    margin: -5px 0 5px 0;

}

.dateSelect {
    grid-row: 2;
    grid-column: 1;}

.timeSelect {
    grid-row: 2;
    grid-column: 2;
}
.timeError {
    grid-row: 3;
    grid-column: 2;
}
.dayError {
    grid-row: 3;
    grid-column: 1;
}
input:user-invalid, select.occasion:user-invalid {
    border: 1px solid red;
}

input.cancel:user-invalid {
    outline: red 2px solid;
}

main div.formSubmission {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 16px;
    background-color: #F4CE14;
    width: 280px;
    height: 120px;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: Karla;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
}

.formSubmission a {
    justify-self: flex-end;
    padding: 12px;
    grid-row: 1;
}
.formSubmission img {
    width: 15px;
}
.formSubmission img:hover {
    cursor: pointer;
}

.formSubmission p {
    justify-self: center;
    margin: 15px 0 0;
    grid-row: 2;
}