.specialCard {
    height: 439px;
    width: 265px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-self: flex-start;
    background: #EDEFEE;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s;
    transform: scale(1);
}
.dishPic {
    width: 265px;
    height: 185px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
}
.specialCard h2 {
    font-family: "Markazi Text";
    font-size: 24px;
    font-weight: 500;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-left: 25px;
    align-self: center;
}
.specialCard h3, .specialCard p {
    font-family: Karla;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}
.specialCard h3  {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    color: #EE9972;
    margin-right: 25px;
    justify-self: end;
    align-self: center;
    background: linear-gradient(rgba(113, 113, 113, 0.6),rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    padding: 5px 10px;
    border-radius: 16px;
}
.specialCard h4 {
    font-family: Karla;
    font-size: 16px;
    font-weight: 400;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    margin: 0 25px 0 25px;
}
.order {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    margin: 0 25px 0 25px;
    align-self: center;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.specialCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.20);
}

.order {
    text-decoration-color: transparent;
    transition: text-decoration 0.5s;
}

.order:hover {
    text-decoration: underline #F4CE14;
}
.bell {
    width: 25px;
}





