@media (min-width: 900px) {

    footer {
        grid-area: footer;
        background-color: #495E57;
        display: grid;
        grid-template-columns: 1fr 860px 1fr;
    }

    .footer {
        grid-column: 2 / span 1;
        display: grid;
        grid-template-columns: max-content 69px auto;
        grid-template-rows: 1fr 44px;
    }

    .footerPic {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        width: 162px;
        height: 279px;
        object-fit: cover;
        object-position: 0px;
        border-radius: 16px;
        object-position: 70% 50%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        align-self: center;
        justify-self: center;
    }

    .footerRight {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
        display: flex;
        justify-content: space-between;
        height: 214px;
        align-self: center;

    }

    footer h4, footer a, footer p, footer li {
        color: #EDEFEE;
        font-family: Karla;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        line-height: 26px;

    }

    .title {
        font-weight: 800;
        color: #F4CE14;
        margin-bottom: 24px;
        line-height: normal;

    }

    .footerRight ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 167px;
        justify-content: space-between;
    }

    .copyright {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        justify-self: center;
    }

    .middleContainer {
        display: flex;
        height: 167px;
        flex-direction: column;
        justify-content: space-between;
    }

    #socials {
        justify-content: flex-start;
    }
}

@media (max-width: 899px)
{
    footer {
        grid-area: footer;
        background-color: #495E57;
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer {
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 44px;
    }

    .footerPic {
        display: none; /* ESTO SACAR */
    }

    .footerRight {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        /* height: 214px; */
        align-self: center;
        margin: 20px;

    }

    footer h4, footer a, footer p, footer li {
        color: #EDEFEE;
        font-family: Karla;
        font-size: clamp(10px, 4vw, 20px);
        /* font-size: 5vw; */
        font-weight: 500;
        text-decoration: none;
        line-height: 26px;
        /* display:none; */

    }

    .title {
        font-weight: 800;
        color: #F4CE14;
        margin-bottom: 24px;
        line-height: normal;

    }

    .footerRight ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 167px;
        justify-content: space-between;
    }

    .copyright {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        justify-self: center;
    }

    .middleContainer {
        display: flex;
        height: 167px;
        flex-direction: column;
        justify-content: space-between;
    }

    #socials {
        justify-content: flex-start;
    }
}