@media (min-width: 900px) {
    header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 860px 1fr;
    background-color: #FFFFFF;
    }

    .headerLogo {
        height: 54px;
        justify-self: start;
        align-self: center;
        grid-column-start: 2;
        grid-row-start: 1;
    }

    nav {
        justify-self: end;
        display: flex;
        align-items: center;
        max-width: 640px;
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .navbar {
        list-style: none;
        display: flex;
        align-items: center;
        column-gap: 28px;
    }

    .navbar a {
        text-decoration: none;
        color: #333333;
        font-size: 20px;
        font-weight: bold;
        font-family: Karla;
        text-decoration-color: transparent;
        transition: text-decoration 0.5s;
        /* text-decoration: none #F4CE14; */
    }
    .navbar a:hover {
        text-decoration: underline #F4CE14;
    }
    .smallSizeNav {
        display: none;
    }
}

@media (max-width: 899px) {
    header {
        grid-area: header;
        display: flex;
        position: relative;
        justify-content: space-between;
        background-color: #FFFFFF;
        padding: 0 20px;
    }

    .fullSizeNav {
        display: none;
    }

    .headerLogo {
        height: 40px;
        align-self: center;
    }

    .smallSizeNav {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }

    .burguer {
        height: 30px;
    }

    .burguer:hover {
        cursor: pointer;
    }

    .true {
        opacity: 50%;
    }

    .false {
        opacity: 1;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    .smallSizeNav .smallNavBar {
        position: absolute;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 233px;
        row-gap: 5px;
        padding: 7px 15px;
        background-color: #F4CE14;
        border-radius: 16px;
        z-index: 1;
    }

    .open {
         animation: fadeIn 1s ;
    }
    .close {
         animation: fadeOut 1s ;
    }

    .smallNavBar a {
        text-decoration: none;
        color: #333333;
        font-size: 20px;
        font-weight: bold;
        font-family: Karla;
    }
}

.backToTop {
    position:fixed;
    bottom: 0px;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 90%;
    width: 50px;
    z-index: 2;
    transition: opacity 0.5s, visibility 0.5s;
}

.backToTop.hidden {
    opacity: 0%;
    visibility: hidden;
}

.backToTop.shown {
    opacity: 50%;
}


@keyframes enter {
    from {opacity: 0%}
    to {opacity: 75%}
}