header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

.headerLogo {
    height: 54px;
    align-self: center;
}

nav {
    display: flex;
    align-items: center;
    max-width: 640px;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.navbar a {
    text-decoration: none;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    font-family: Karla; 
}
