#loginBox {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 47.5%;
    left: 50%;
    background-color: #FFFFFF;
    color: white;
    opacity: 1;
    z-index: 1;
    border-radius: 16px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 15px;
}
#loginBox > * {
    font-family: Karla;
    color: #333333;
}

#loginBox > h1 {
    align-self: flex-start;
    font-size: 28px;
}

.errors {
    color: red;
    font-weight: bold;
}

.close {
    width: 15px;
    grid-column: 2;
    align-self: center;
}
.close:hover {
    cursor: pointer;
}
#loginBox button {
    background-color: #F4CE14;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    border: 0;
    padding: 2px;
    width: 110px;
    height: 30px;
    margin: 10px auto 10px auto;
}
#loginBox button:hover {
    cursor: pointer;
}

#loginBox button.disabled {
    background-color: grey;
}
#loginBox button.disabled:hover {
    pointer-events: none;
}

#loginBox form {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

#loginBox form > * {
    padding: 5px 0;
}


.formType {
    text-decoration-color: transparent;
    transition: text-decoration 0.5s;
}

.formType:hover{
    text-decoration: underline #F4CE14;
}

#loginBox input {
    padding: 4px;
}