@media (min-width: 900px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 860px 1fr;
        grid-template-rows: 406px 46px 669px;
    }

    .landing {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        display: grid;
        grid-template-columns: 1fr 860px 1fr;
        background-color: #495E57;
    }

    .reservation {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        justify-self: start;
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 326px;
        height: 311px;
        justify-content: space-between;
    }

    .reservation h1 {
        font-size: 64px;
        font-family: Markazi Text;
        color: #F4CE14;
        font-weight: normal;
        line-height: 0.5;
    }
    .reservation h2 {
        font-size: 36px;
        font-family: Markazi Text;
        font-weight: normal;
        color: #EDEFEE;
    }
    .reservation p {
        font-size: 24px;
        font-family: Karla;
        color: #EDEFEE;
    }

    .main button {
        background-color: #F4CE14;
        font-size: 18px;
        font-weight: 700;
        font-family: Karla;
        color: #333333;
        border-radius: 16px;
        border: 0;
    }
    .reservation button {
        width: 170px;
        height: 40px;
        /* margin-left: 0; */
    }

    .landingPic {
        grid-column: 2 / 2;
        grid-row: 1 / span 2;
        justify-self: end;
        width: 375px;
        height: 429px;
        object-fit: cover;
        border-radius: 16px;
        margin-top: 23px;
        z-index: 1;
    }

    .specials {
        /* z-index: -1; */
        grid-column: 1 / span 3;
        grid-row: 2 / span 2;
        background-color: rgb(237,239,238,.25);
        display: grid;
        grid-template-columns: 1fr 860px 1fr;
        grid-template-rows: 214px 1fr;
    }

    .specialsToMenu {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .specialsToMenu h1 {
        font-size: 64px;
        font-family: Markazi text;
        font-weight: 400;
        color: #333333;
    }

    .specialsToMenu button {
        width: 157px;
        height: 46px;
        margin-right: 30px;
        color: #333333;
    }

    .specialsCards {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        display: flex;
        justify-content: space-between;
        margin-top: -40px;
    }
}

@media (max-width: 899px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 406px 715px;
        grid-gap: 2px;

    }

    .landing {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        background-color: #495E57;
    }

    .reservation {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: 311px;
        justify-content: space-between;
    }

    .reservation h1 {
        font-size: 64px;
        font-family: Markazi Text;
        color: #F4CE14;
        font-weight: normal;
        line-height: 0.5;
        min-width: 290px;
    }
    .reservation h2 {
        font-size: 36px;
        font-family: Markazi Text;
        font-weight: normal;
        color: #EDEFEE;
    }
    .reservation p {
        font-size: 24px;
        font-family: Karla;
        color: #EDEFEE;
    }

    .main button {
        background-color: #F4CE14;
        font-size: 18px;
        font-weight: 700;
        font-family: Karla;
        color: #333333;
        border-radius: 16px;
        border: 0;
    }
    .reservation button {
        width: 170px;
        height: 40px;
    }

    .landingPic {
        display: none;
        grid-column: 1;
        grid-row: 1;

        width: 50vw;
        height: 406px;
        object-fit: cover;
        border-radius: 16px 0 0 16px;
        justify-self: end;
    }

    .specials {
        grid-column: 1;
        grid-row: 2;
        background-color: rgb(237,239,238,.25);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 180px 1fr;
    }

    .specialsToMenu {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .specialsToMenu h1 {
        font-size: clamp(25px, 10vw, 64px);
        font-family: Markazi text;
        font-weight: 400;
        margin-left: 30px;

        color: #333333;
    }

    .specialsToMenu button {
        width: 157px;
        height: 46px;
        margin-right: 30px;
        color: #333333;
    }

    .specialsCards {
        grid-column: 1;
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(3, 300px);
        justify-content: space-between;
        overflow: scroll;
        justify-items: center;
    }
}
