.main {
    background-color: #495E57;
    display: grid;
}

@media (max-width: 899px) {
    .main {
       grid-template-rows: auto 1fr;
    }
}
@media (min-width: 900px) {
    .main {
       grid-template-rows: auto 1fr;
       grid-template-columns: 1fr 860px 1fr;
    }
    .main h1 {
        grid-column: 2 / span 1;
    }
    .reservationForm {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
}

.reservationForm {
    display: flex;
    width: 260px;
    flex-direction: column;
    justify-self: center;
    row-gap: 5px;
    font-family: Karla;
    color: white;
}

.main h1 {
    font-size: 58px;
    font-family: Markazi Text;
    color: #F4CE14;
    font-weight: normal;
    margin: 20px 20px;
}

.errors {
    color: red;
    font-weight: bold;
}

.main button {
    background-color: #F4CE14;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    border: 0;
    width: 190px;
    height: 30px;
    align-self: center;
}

button.disabled {
    background-color: grey;
}
button.disabled:hover {
    pointer-events: none;
}

.main button:hover {
    cursor: pointer;
}
.cancelPolicy {
    display: flex;
    justify-content: space-between;
}

.reservationForm input, .reservationForm select {
    height: 25px;
    border-radius: 16px;
    border: 0;
    padding: 0 7px;
}

.dateTime {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}
.dateSelect {
    /* flex-basis: 1; */
}

.timeSelect {
    /* width: 60px; */
    /* flex-basis: 2; */
}

main div.formSubmission {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 16px;
    background-color: #F4CE14;
    width: 280px;
    height: 100px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* align-items: center;  */
    font-family: Karla;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
}

.formSubmission img {
    width: 15px;
    justify-self: flex-end;
    padding: 12px;
    display: block;
}
.formSubmission img:hover {
    cursor: pointer;
}

.formSubmission p {
    justify-self: center;
}